.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;

    .card{
        padding:4.7rem 4.9rem;
        width: 87%;

        &:first-child{
            border-radius: 1rem 1rem 0 0;
        }
        .title{
            font-size: 4rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $very-light-gray;
            padding: 2.9rem 0;
            font-family: 'Big Shoulders Display', cursive;
        }
        .desc{
            font-size: 1.45rem;
            line-height: 2.5rem;
            color: $very-light-gray;

        }
        
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4.7rem;
            border-radius: 1.9rem;
            width: 64%;
            margin-top: 3rem;
            background-color: $very-light-gray;
            font-size: 1.5rem;
            transition: all 0.25s ease;

                &:hover {
                    background: none;
                    border: 2px solid $very-light-gray;
                    
                    .btn-sedan, .btn-suv, .btn-luxury{
                        color: $very-light-gray;

                    }
                    
            }

            

            .btn-sedan{
                color: $bright-orange;
            }
            .btn-suv{
                color: $dark-cyan;

            }
            .btn-luxury{
                color: $very-dark-cyan;
            }
        }

    }
    .card-sedan{
        background-color: $bright-orange;
    }
    .card-suvs{
        background-color: $dark-cyan;
    }
    .card-luxury{
        background-color: $very-dark-cyan;
    }
    


}