// Colors

//Primary

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral

$transparent-white: hsla(0, 0%, 100%, 0.75);       // (paragraphs)
$very-light-gray : hsl(0, 0%, 95%);                   //(background, headings, buttons)                                                


//Font size: 15px

//Font
/*
- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/

@import 'general';
@import 'card';
@import 'media1440'